.header-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 1em;
}

.logo {
  font-size: 2em;
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  list-style: none;
  color: pink
}

.main-menu__item {
  margin-right: 1em;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
}

.main-menu__item:hover {
  color: rgb(230, 53, 83)
}