.market-assets-list-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.list-item__part {
  text-align: left;
  width: 120px;
}

.bolded {
  font-weight: 500;
}

.growth {
  color: #57a825;
}

.loss {
  color: #cf2862;
}