.market-assets-list-item {
  display: flex;
  justify-content: space-between;
}

.list-item__part {
  width: 100px;
  text-align: left;
}

.bolded {
  font-weight: 500;
}

.growth {
  color: #57a825;
}

.loss {
  color: #cf2862;
}