.market-assets-list-container {
  height: 350px;
  overflow: auto;
}

.error {
  display: block;
  padding: 20px;
  color: tomato;
}

.asset-not-found {
  display: block;
  padding: 20px;
  color: #000;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  padding-right: 31px;
}

.list-header__part {
  width: 100px;
  font-size: 1.5em;
  text-align: left;
  color: #A1683A;
}