.show-list-container {
  padding: 1em;
  width: 50vw;
  margin-right: 2em;
  border: 2px solid rgb(130, 138, 120);

  height: 500px;
  overflow-y: scroll;
}

.show-list-item {
  cursor: pointer;
}

.show-list-item:hover {
  color: rgb(168, 80, 94);
}